= form_for @game_object do |f|
  - if @game_object.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game_object.errors.count, "error")} prohibited this game_object from being saved:"
      %ul
        - @game_object.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :gameObjectData
    = f.text_field :gameObjectData
  .field
    = f.label :x
    = f.text_field :x
  .field
    = f.label :y
    = f.text_field :y
  .actions
    = f.submit 'Save'
